.mainContainer{
  display: flex;
}


.rightInfo{
  /* background-color: pink; */
  width: 30%;
  margin-top: 35px;
}



ul{
  display: table;
  width: 100%;
  padding: 0;
}

li{
  display: table-row;
}

li span {
  display: table-cell;
  text-align: left;
  font-size: 29px;
  font-weight: lighter;
}


@media screen and (max-width: 768px) {
  .mainContainer{
    flex-direction: column;
  }

  .leftBar{
    width: 100%;
  }

  .rightInfo{
    width: 100%;
  }

  .leftmain{
    width: 100%;
    object-fit: contain;
  }

 
 

  }