.footer{
    background-color: #f0f2f5;
    width: 100%;
    height: 200px;

}

.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
}

.below{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}

/* npm install -g firebase-tools */

@media screen and (max-width: 768px) {
    .footer{
        width: 50%;
    }
    .top{
        flex-direction: column;
    }
    
    
    }
    