.pi_main{
    display: flex;
}

.pi_right{
    /* background-color: pink; */
    width: 30%;
    margin-top: 35px;
  }


  @media screen and (max-width: 768px) {
.pi_main{
    flex-direction: column;
}  

}
